$primary-color: #009FE3
$body-background: #f3f3f3

$body-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !default

$column-padding-bottom: 0
$container-background: #ffffff
$callout-border: 0
$callout-padding: 20px 0px 10px 0
$global-width: 650px
$paragraph-margin-bottom: 0
@import "~foundation-emails/scss/foundation-emails"

ul
  margin: 0
