{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block single_content %}
    <p>{{ 'index.please_login'|trans }}</p>
{% endblock %}

