{% extends "form_content_base.html.twig" %}

{% block title %}{{ "new.title"|trans }}{% endblock %}
{% block description %}{{ "new.description"|trans }}{% endblock %}

{% trans_default_domain "administration_payment_remainder" %}

{% block form_description %}
    <p>{{ "new.help"|trans }}</p>
{% endblock %}
