{% extends "form_content_base.html.twig" %}

{% block title %}{{ "reject.title"|trans }}{% endblock %}
{% block description %}{{ "reject.description"|trans }}{% endblock %}

{% trans_default_domain "administration_entry" %}

{% block form_description %}
    <p>{{ "reject.help"|trans }}</p>
{% endblock %}
