{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="content">
        <div class="{% block container_class %}container{% endblock %}">
            <div class="p-1 pt-5 pb-4">
                <h1>{{ block("title") }}</h1>
                <p class="lead">{% block description %}{% endblock %}</p>
            </div>

            {% block pre_single_content %}

            {% endblock %}

            <div class="card pl-4 pr-4">
                <div class="card-body pl-1 pr-1">
                    {% block single_content %}
                    {% endblock single_content %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
