{% extends "form_content_base.html.twig" %}

{% block title %}{{ "send_reminder.title"|trans }}{% endblock %}
{% block description %}{{ "send_reminder.description"|trans }}{% endblock %}

{% trans_default_domain "administration" %}

{% block form_description %}
    <p>{{ "send_reminder.help"|trans }}</p>
{% endblock %}
