{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "successful.title"|trans }}{% endblock %}
{% block description %}{{ "successful.description"|trans }}{% endblock %}

{% trans_default_domain "payment" %}

{% block single_content %}
    <p class="lead">{{ "successful.thanks"|trans }}</p>
{% endblock %}

